body {
background-color: powderblue;
}

h1{
    font-size:  45px;
}

header{

background-color: blanchedalmond;
}

header p{
    font-weight : 500;
color: black;

}

main{
    background-color: grey;
}

footer{
    background-color: brown;
}

p{
   color:whitesmoke
}

ul{
    color: maroon;
}

ol{
    color: aquamarine;
}